<html>
<head>
	<title>Cats</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- <style>
		img {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
	</style> -->
</head>
<body>
	<div class="container">
		<div class="col-md-8">

		
			<a href ="/first"><img src="images/cat1.jpeg" alt="cat image"></a>
			<a href ="/second"><img src="images/cat2.jpeg" alt="cat image"></a>
			<a href ="/third"><img src="images/cat3.jpeg" alt="cat image"></a>
		</div>
	</div>
</body>
</html>