<!--The content below is only a placeholder and can be replaced.-->
<!-- t -->

<div style="padding:50px;text-align:center">
  <h1>
    {{ title }}
  </h1>

  <h1 >
    All the tasks:
  </h1>

  <ul style="display:inline-block">
    <li *ngFor="let task of tasks" style="text-align:initial;">
      <h2>{{ task.title }} - {{ task.description }}</h2>
    </li>
  </ul>

  <h1>
    The third tasks:
  </h1>

  <ul style="display:inline-block">
    <div *ngFor="let task of tasks;
                let i = index;
                let fst = first;
                let lst = last"
          style="display:inline-block">
      <li *ngIf="lst" style="text-align:initial;">
        <h2>{{ task.title }} - {{ task.description }}</h2>
      </li>
    </div>
  </ul>
</div>
